canvas {
    border: solid 1px black;
    margin: 100px auto;

}

.canvas-wrapper {
    display: flex;
}

#canvas-3d {
    background-image: url(images/sky.jpg), url(images/ground.jpg);
    background-repeat: repeat-x, repeat-x;
    background-position-x: 0px, 0px;
    background-position-y: 0px, 300px;
}

#gun {
    width: 200px;
    height: 200px;
    position: absolute;
}